*{
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    color: white;
    text-decoration: none;
    
}



#header{
    display: flex;
    background-color:#FF5656 ;
    align-items: center;
    justify-content:space-between;
    padding-right: 5px;
    color: white;
}

#header>a{
    display: flex;
    justify-content: end;
    padding-right: 5px;
    margin: 5px;
    color: white;
}

#logo{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

#hola{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#hola>img{
    width: 10%;
    height: 10%;
}


#logo>img{
    width: 200px;
    padding-right: 100px;
    margin: 3px 0 3px 10px;
}

#menu>a{
    margin: 0 10px 0 0;
    color: white;
    text-decoration: none;
    padding-top: 10px;
    background-color:#FF7D6B  ;


}

#redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF7D6B ;
    padding: 5px;
    color: white;
}

#redes>img{
    display: flex;
    justify-content: end;

}
.red{
    width: 10%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition-duration: 0.5s;
    cursor: pointer;
}
.red:hover{
    background-color: #FF5656;
    color: #ffffff;
    transition-duration: 0.5s;


}
#banner{
    display: flex;
    justify-content: center;
}


#productos{
margin-top: 20px;
margin-left: 20px;
padding: 20px;
display: flex;
justify-content: space-between;
background-color: #c9c9c9;
}

#productos2{
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #c9c9c9;
    }

#buscador{
    display: flex;
    justify-content: center;

}


#sesion{
    display: flex;
    width: 100%;
    margin-top: 10%;
    justify-content: space-around;
}

#opciones{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

#barrabaja{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 5px;
    background-color: #c9c9c9;
    margin: 20px;
}


#carrito{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

#boton{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}
#facebook{
    margin: 80px;
    cursor: pointer;
    text-align: right;
}

#instagram{
    margin: 80px;
    cursor: pointer;
    text-align: right;
}

#whatsapp{
    margin: 80px;
    cursor: pointer;
    text-align: right;
}

#correo{
    margin: 80px;
    cursor: pointer;
    text-align: right;
}

#telefono{
    margin: 80px;
    cursor: pointer;
    text-align: right;

}
#titulobarrabaja{
    padding-left: 5%;

}

#facebook>img{
    width: 50px;
}

#instagram>img{
    width: 50px;
}

#whatsapp>img{
    width: 50px;
}

#correo>img{
    width: 50px;
}

#telefono>img{
    width: 50px;
}

#carrito{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
}

#boton{
    margin-top: 20px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly
}